@using Microsoft.Ajax.Utilities
@model IEnumerable<OrganizationModelsLibrary.Organization>

@{
    ViewBag.Title = "Organization";
    ViewBag.ManuHead = "Organization Setup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-12 col-md-12">
    <h3 class="header blue lighter smaller">
        <i class="ace-icon fa fa-folder-o smaller-90"></i>
        Organizations
    </h3>
    
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#listViewManu">List View</a></li>
        <li><a data-toggle="tab" href="#createMenu" id="createLink">Create</a></li>
    </ul>

    <div class="tab-content">
        <div id="listViewManu" class="tab-pane fade in active"> @*Start Search Tab*@
            <h3>Organization List</h3>
            <div class="row">
                <div class="col-md-5 col-sm-8">
                    <div class="input-group">
                        <input id="searchTextBox" class="form-control" type="text" placeholder="Search by Name, Short Name, Code."/>
                        <span class="input-group-btn">
                            <button id="searchButton" class="btn btn-sm btn-info" type="button"><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
                        </span>
                    </div>
                
                    <div class="row">
                        <div class="col-md-12">
                            <table id="simple-table" class="table  table-bordered table-hover">

                                <tr>
                                    <th style="display: none">
                                        @Html.DisplayNameFor(model => model.Id)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ShortName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Location)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th></th>
                                </tr>
                               

                                @foreach (var item in Model)
                                {
                                      
                                    <tr>
                                        @*<td id="@(modelItem =>item.Id)" style="display: none">
                                            @Html.DisplayFor(modelItem => item.Id)
                                        </td>*@
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ShortName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Location)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            <button id=""></button>
                                            @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div> @* End Search*@ 
            </div>
            
            
            <div class="row">
                <div id="listViewMainBody" class="col-md-offset-2 col-md-8">
                    
                </div>
            </div>
        </div> @*End Search Tab*@
        
        
        

        <div id="createMenu" class="tab-pane fade">
            <h3>Create</h3>
            <div class="row">
                <div id="createMainBody" class="col-md-offset-2 col-md-8">
                    
                </div>
            </div>
        </div> @*End Create Tab*@
    </div>
</div><!-- ./col -->


@section scripts
{
<script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/FormScript/organization.js"></script>

    <script type="text/javascript">
        $("#organizationManu").show();


        //$(document).ready(function () {
        //    $('#dataTableList').DataTable();
        //});
    </script>
}
